//white
$white_bg:#fff;
$white_color:#545558;
$white_bd:1px solid #d5dce6;

$white_hover_bg:rgba(0, 172, 222, 0.1);
$white_hover_color:#26a6e3; 
$white_hover_bd:solid 1px rgba(38, 166, 227, 0.55);

$white_active_bg:rgba(0, 172, 222, 0.1);
$white_active_color:#008bcd;
$white_focus_bg:rgba(0, 172, 222, 0.1);
$white_focus_color:#00acde;
$white_disabled_bg:#fafbfc;
$white_disabled_color:#bbbfcc;
$white_disabled_bd: 1px solid #d5dce6;

// blue
$blue_bg:#0097de;         
$blue_color:#fff;
$blue_hover_bg:#40b1e6;   
$blue_active_bg:#008bcd;  
$blue_focus_bg:#26a6e3;   
$blue_disabled_bg:#80cbef;

$height:32px;
$border_radius:2px;