.tong-title {
  height: 45px;
  border-bottom: 1px solid #dbdadf;
  line-height: 44px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 0;

  * {vertical-align: middle;font-size: 12px;}

  img{
    width: 15px;
  }

  i {font-size: 16px;color: #6C7280;}

  .title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 0 5px;
  }

  .description {
    font-size: 12px;
    color: #9ea4b3;
  }
}
