.tongScrollLink{
    position: relative;
    min-height:150px;
    overflow:scroll;
    .collapse-box {
      width: calc(100% - 180px);
      min-height:100px;
      display: flex;
      flex-direction: column;
      .el-collapse{
        border:0px;
        margin-left:30px;
        width: 98%;
        position: relative;
        .el-collapse-item {
            // font-weight: 800;
            min-height:26px;
            line-height: 26px;
            width:98%;
            display: block;

          .el-collapse-item__header{
            display: inherit!important;
            height:26px;
            width:98%;
            line-height: 26px;
            border-bottom: 1px solid #E6EBF5;

          }
          .el-collapse-item__arrow{
              position: absolute;
              left:-22px;
              line-height: 26px;
          }
          .el-collapse-item__wrap{
            border-bottom:0px;
          }
          .el-collapse-item__content{
            padding-bottom: 0px;
          }
        }
      }
    }
    .anchor-box {
      position: absolute;
      width: 150px;
      right: 5px;
      top: 0;
      text-indent: 10px;
      li {
        border-left: 2px solid #eee;
        cursor: pointer;
        list-style: none;
        width:150px;
        span{
          line-height: 30px;
          color: #333;
          font-weight: 300;
          font-size: 12px;
        }
      }
      li.active {
        color: #3A8CE2;
        border-left:2px solid #3A8CE2;
      }
    }


  }
